@font-face {
  font-family: "iconfont"; /* Project id 4885239 */
  src: url('iconfont.woff2?t=1745987666867') format('woff2'),
       url('iconfont.woff?t=1745987666867') format('woff'),
       url('iconfont.ttf?t=1745987666867') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="el-icon-third-"], [class*=" el-icon-third-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-third-yunshangchuan:before {
  content: "\e600";
}

.el-icon-third-youjian:before {
  content: "\e601";
}

.el-icon-third-zhengque:before {
  content: "\e602";
}

.el-icon-third-shuaxin:before {
  content: "\e61b";
}

.el-icon-third-pintu:before {
  content: "\e61e";
}

.el-icon-third-40nan-1:before {
  content: "\e633";
}

.el-icon-third-nv:before {
  content: "\e644";
}

.el-icon-third-jijianfasong:before {
  content: "\e893";
}

.el-icon-third-nan:before {
  content: "\e64a";
}

.el-icon-third-xinzengyihang:before {
  content: "\e603";
}

.el-icon-third-code:before {
  content: "\e615";
}

.el-icon-third-sousuo:before {
  content: "\eafe";
}

.el-icon-third-jinyong:before {
  content: "\e658";
}

.el-icon-third-weizhi:before {
  content: "\e674";
}

.el-icon-third-danchuang:before {
  content: "\e6d7";
}

.el-icon-third-shanchu:before {
  content: "\e612";
}

.el-icon-third-guanbi:before {
  content: "\e60f";
}

.el-icon-third-nv1:before {
  content: "\e610";
}

.el-icon-third-bendishangchuan:before {
  content: "\e604";
}

.el-icon-third-danchuang-xinzeng:before {
  content: "\e609";
}

.el-icon-third-xinjian:before {
  content: "\e626";
}

.el-icon-third-piliangbianji:before {
  content: "\e617";
}

.el-icon-third-bianji:before {
  content: "\e693";
}

.el-icon-third-deletePage:before {
  content: "\e634";
}

.el-icon-third-fill_gift:before {
  content: "\e718";
}

.el-icon-third-weizhi1:before {
  content: "\e641";
}

.el-icon-third-fanyi:before {
  content: "\e65c";
}

.el-icon-third-wendang:before {
  content: "\e8a0";
}

.el-icon-third-jiazaizhong:before {
  content: "\e681";
}

.el-icon-third-daochuquanbu:before {
  content: "\e640";
}

.el-icon-third-daochudangqianye:before {
  content: "\e6ff";
}

.el-icon-third-biaoge:before {
  content: "\e63e";
}

.el-icon-third-dian:before {
  content: "\e608";
}

.el-icon-third-yigaojing:before {
  content: "\e629";
}

.el-icon-third-terminal-box-fill:before {
  content: "\e776";
}

